/* Section Styles */
.doctor-section {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .doctor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-doctor-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .add-doctor-button:hover {
    background-color: #0056b3;
  }
  
  /* Table Styles */
  .doctor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .doctor-table th, .doctor-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .doctor-table th {
    background-color: #007bff;
    color: white;
  }
  
  .doctor-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .doctor-table tr:hover {
    background-color: #ddd;
  }
  
  .doctor-input {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Button Styles */
  .update-doctor-button, .deactivate-doctor-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-doctor-button {
    background-color: #28a745;
    color: white;
    
  }
  
  .update-doctor-button:hover {
    background-color: #218838;
  }
  
  .deactivate-doctor-button {
    background-color: #dc3545;
    color: white;
  }
  
  .deactivate-doctor-button:hover {
    background-color: #c82333;
    box-shadow: 3px 3px 2px 2px gray;
  }